* {
    font-family: arial;
}

@font-face  {
    font-family: 'KG';
    src: url('./font/KGMidnightMemories.ttf');
}





@media screen and (orientation: portrait){
    


    .conteiner {
    display: flex;
    border: 1px solid #bebebe;
    border-radius: 10px;
    margin-top: 5vh;
    }

    .boxImg {
    display: grid;
    width: 45vh;
    
    align-items: center;
    justify-content: center;
    }

    .boxImg img {
    border-radius: 10%;
    }


    .boxConteudo {
    margin: 0 2vh 0 2vh;
    }

    .boxText {
    border-bottom: 1px solid #bebebe;
    padding-bottom: 3vh;
    }

    #insta-icon {
        border-radius: 50%;
        margin-left: 2vh;
    }

/* texto */

    .title {
    font-size: 5vw;
    text-shadow: 0px 0px 3px #ffb355;
    font-weight: 600;
    }

    em {
    text-shadow: 0px 0px 3px #ffb355;
    font-weight: 600;
    font-size: 5vw;
    position: relative;
    left: 2vh;
    }

    #icon-whats {
        position: fixed;
        right: 3vh;
        bottom: 3vh;
        animation: float 4s linear infinite;
    }

    @keyframes float {
        0% {
            transform: translateY(0vh);
        }
        
        50% {
            transform: translateY(-3vh);
        }
        
        100% {
            transform: translateY(0vh);
        }
        
        
    }
    
    /* rodape */
    
    footer {
        border-top: 2px solid;
        margin-top: 18vh;
        
    }
    
    #textoSobre {
        font-family: 'KG';
        font-size: 8vw;
        margin-top: 0;
    }





}







@media screen and (orientation: landscape){
    
    #menuLand {
        display: grid;
        grid-template-columns: auto auto;
    }
        
    .conteiner {
        display: flex;
        border: 1px solid #bebebe;
        border-radius: 10px;
        margin-top: 5vh;
        margin-left: 7vh;
    }
    
    .boxImg {
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 0 3vh 0 3vh;
    }
    
    .boxImg img {
        width: 30vh;
        border-radius: 10%;
    }
    
    .boxConteudo {
        margin: 0 2vh 0 2vh;
    }
    
    .boxText {
        border-bottom: 1px solid #bebebe;
        padding-bottom: 3vh;
    }
    
    #insta-icon {
        border-radius: 50%;
        width: 16vh;
    }
    
    
    /* texto */

    .title {
        font-size: 3vw;
        text-shadow: 0px 0px 3px #ffb355;
        font-weight: 600;
    }

    em {
        text-shadow: 0px 0px 3px #ffb355;
        font-weight: 600;
        font-size: 3vw;
        position: relative;
        left: 2vh;
    }
    
    #icon-whats {
        width: 20vh;
        position: fixed;
        right: 3vh;
        bottom: 3vh;
        animation: float 4s linear infinite;
    }
    
    @keyframes float {
        0% {
            transform: translateY(0vh);
        }
        
        50% {
            transform: translateY(-3vh);
        }
        
        100% {
            transform: translateY(0vh);
        }
        
        
    }
    
    /* rodape */
    
    footer {
        border-top: 2px solid;
        margin-top: 18vh;
    }
    
    
    
    
}


